
.containerHome{
  background-image: url(https://www.leagueoflegends.com/static/open-graph-2e582ae9fae8b0b396ca46ff21fd47a8.jpg);;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  }
  
.cards {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 200px);
  gap: 40px;
  margin-top: 60px;
  background: rgba(26, 30, 39, 0.78);
  border-radius: 20px;
  justify-content: center;
  padding: 100px 0;
}

.page {

display: flex;
justify-content: center;
padding-left:  20px;

}
.contenedor_header {
  display: flex;
  justify-content: flex-end;
  padding: 20px 60px;
}

.tilte {
  text-align: center;
  color: hsl(40deg 46% 49%);
  padding: 60px;
  letter-spacing: 10px;
  font-size: 44px;
  margin: 0;
}

.createButton, .rechargeButton {
  margin: 0 30px;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(96, 85, 85) ;
  color: white;

}


.allSelects {
  width: 150vh;
  display: flex;
  justify-content: space-between;
  margin: 0 60px
}

.select {
  margin: 35px 8px;
  border-radius: 8px;
  height: 30px;
  color: white;
  background-color: rgba(96, 85, 85, 0.987);
}