.containerForm {
    background-image: url(https://www.leagueoflegends.com/static/open-graph-2e582ae9fae8b0b396ca46ff21fd47a8.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.container::before {
    content: '';
    background: #000000;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    margin-left: -100px;
}

.navContainer {
    height: 10px;
    padding: 20px;

}

.nav {
    color: rgb(203, 79, 89);
    text-decoration: none;
    font-size: 20px;


}

.title {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 5px;
    padding: 40px;

}


label{
    display: inline-block;
    width: 90px;
  } 

.formInput {
    padding: 10px;
    
}

.formContainer {
    color: white;
    font-size: 20px;
}

.genres {
    display: grid;
    grid-template-columns: repeat(4, 150px);
    justify-content: center;

}

.platforms{
    display: grid;
    grid-template-columns: repeat(4, 150px);
    justify-content: center;
}

.inputGenres {
    display: inline-flex;
}

.pPlatforms {
    padding: 20px;
}

.submit {
padding: 5px 30px;
border-radius: 10px;
background-color: rgb(96, 85, 85) ;
color: white;
}

.containerSubmit {
    padding: 60px 0;
}

.divGenres {
    width: 120px;
    height: 200px;
    gap: 40px;
    margin-top: 60px;
    background: rgba(33, 65, 138, 0.78);
    border-radius: 20px;
    padding: 10px;
    margin-left: 50px;

}

.containerDivGenres {
    display: flex;
    justify-content: space-evenly;
}

.divPlatform {
    width: 120px;
    height: 200px;
    gap: 40px;
    margin-top: 60px;
    background: rgba(33, 65, 138, 0.78);
    border-radius: 20px;
    padding: 10px;
    margin-left: 50px;
 
}

.containterDivPlatforms {
    display: flex;
    justify-content: space-evenly;
}