@import url('https://fonts.googleapis.com/css2?family=Baumans&family=Poppins&display=swap');

.home {
  position: relative;
  background-image: url(../../imagenes/collage.png.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: rgba(26, 30, 39, 0.78);
  height: 100vh;
  font-family: 'Baumans', cursive;
}

.containerVideogamesTitle {
  text-align: center;
  padding: 70px;
  color: red;
  text-shadow: 2px 2px #c6b7b7;
}

.videogamesTitle {
  margin: 0;
  letter-spacing: 10px;
  font-size: 40px;
}

.videogamesButton {
  color: #f21743;
  padding: 20px 50px;
  background-color: rgba(26, 30, 39, 0.78);
  border-radius: 10px;
  font-size: 22px;
}

.containerVideogamesButton {
  text-align: center;
  padding: 35px;
}
